.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content{
  color: #ff5974;
  min-width: 30ch;
  min-height: 100vh;
}

.message-list{
  align-content: center;
  min-width: 30ch;
  color: #f1ff46;
  min-height: 100vh;
  position:absolute;
  top:0;
  right:0;
}
